<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Quản lý tài khoản</title>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
	<link rel="shortcut icon" th:href="@{/images/logo.png}">
	<link rel="stylesheet" th:href="@{/css/admin/sidebar.css}">
	<link rel="stylesheet" th:href="@{/css/admin/information.css}">
</head>
<body>
<div class="container">

	<!-- Sidebar -->
	<div class="sidebar">
		<div class="logo">
			<h2>Metro Exodus</h2>
			<h2></h2>
		</div>
		<ul class="menu">
			<li><a th:href="@{/Metro/mo-rong/thong-tin-ca-nhan}"><i class="fa-solid fa-bars"></i> Thông tin chung</a></li>

			<!-- Các mục chỉ dành cho Agent -->
			<div th:if="${user.isAgent}">
				<li><a th:href="@{/Metro/mo-rong/tao-tin-dang}"><i class="fa-solid fa-plus"></i> Tạo tin đăng</a></li>
				<li><a th:href="@{/Metro/mo-rong/danh-sach-tin-da-dang}"><i class="fa-regular fa-square-check"></i> Danh sách tin đã đăng</a></li>
				<li><a th:href="@{/Metro/mo-rong/danh-sach-khach-hang}"><i class="fa-solid fa-users"></i> Danh sách khách hàng</a></li>
				<li><a th:href="@{/Metro/mo-rong/danh-sach-giao-dich}"><i class="fa-solid fa-list-check"></i> Danh sách giao dịch</a></li>
				<li><a th:href="@{/Metro/mo-rong/tao-giao-dich-mua}"><i class="fa-solid fa-square-plus"></i> Tạo giao dịch mua</a></li>
				<li><a th:href="@{/Metro/mo-rong/tao-giao-dich-thue}" class="active"><i class="fa-solid fa-circle-plus"></i> Tạo giao dịch cho thuê</a></li>
			</div>

			<li><a th:href="@{/Metro/trang-chu}"><i class="fa-solid fa-house"></i> Trở về trang chủ</a></li>
			<li><a th:href="@{/Metro/dang-xuat}"><i class="fa-solid fa-arrow-right-from-bracket"></i> Đăng xuất</a></li>
		</ul>
	</div>

	<!-- Main Owner -->
	<div class="main-content">
		<h1>Tạo hợp đồng cho thuê mới</h1>

		<!-- START Owner -->
		<div class="content-section">
			<h2>Bên cho thuê</h2>
			<form>
				<div class="form-group">
					<label for="owner_name">Tên đầy đủ: </label>
					<input type="text" id="owner_name" name="owner_name" class="form-control" required>
				</div>
				<div class="form-group">
					<label for="owner_id">Mã số định danh (CCCD): </label>
					<input type="text" id="owner_id" name="owner_id" class="form-control" required>
				</div>
				<div class="form-group">
					<label for="owner_birthday">Ngày sinh(mm-dd-yyyy): </label>
					<input type="date" id="owner_birthday" name="owner_birthday" class="form-control" min="1900-01-01" max="2020-12-31" required>
				</div>
				<div class="form-group">
					<label for="owner_address">Địa chỉ: </label>
					<input type="text" id="owner_address" name="owner_address" class="form-control" required>
				</div>
			</form>
		</div>
		<!-- END Owner -->

		<!-- START Customer -->
		<div class="content-section">
			<h2>Bên thuê</h2>
			<form>
				<div class="form-group">
					<label for="customer_name">Tên đầy đủ: </label>
					<input type="text" id="customer_name" name="customer_name" class="form-control" required>
				</div>
				<div class="form-group">
					<label for="customer_id">Mã số định danh (CCCD): </label>
					<input type="text" id="customer_id" name="customer_id" class="form-control" required>
				</div>
				<div class="form-group">
					<label for="customer_birthday">Ngày sinh(mm-dd-yyyy): </label>
					<input type="date" id="customer_birthday" name="customer_birthday" class="form-control" min="1900-01-01" max="2020-12-31" required>
				</div>
				<div class="form-group">
					<label for="customer_address">Địa chỉ: </label>
					<input type="text" id="customer_address" name="customer_address" class="form-control" required>
				</div>
			</form>
		</div>
		<!-- END Customer -->

		<!-- START Property -->
		<div class="content-section">
			<h2>Thông tin về BDS</h2>
			<form>
				<div class="form-group">
					<label for="property_address">Địa chỉ: </label>
					<input type="text" id="property_address" name="property_address" class="form-control" required>
				</div>
				<div class="form-group">
					<label for="property_area">Diện tích sàn (m2): </label>
					<input type="text" id="property_area" name="property_area" class="form-control" required>
				</div>
				<div class="form-group">
					<label for="property_purpose">Mục tích sử dụng: </label>
					<input type="text" id="property_purpose" name="property_purpose" class="form-control" required>
				</div>
				<div class="form-group">
					<label for="property_detail">Mô tả chi tiết: </label>
					<textarea id="property_detail" name="property_detail" class="form-control" rows="8" style="width: 95%;" required></textarea>
				</div>
			</form>
		</div>
		<!-- END Property -->

		<!-- START Payment -->
		<div class="content-section">
			<h2>Thời hạn cho Thuê</h2>
			<form>
				<div class="form-group">
					<label for="rental_period">Thời gian cho thuê (tháng): </label>
					<input type="number" id="rental_period" name="rental_period" class="form-control" required>
				</div>
				<div class="form-group">
					<label for="rental_start">Ngày bắt đầu cho thuê: </label>
					<input type="date" id="rental_start" name="rental_start" class="form-control" required>
				</div>
			</form>
		</div>
		<!-- END Payment -->

		<!-- START Payment -->
		<div class="content-section">
			<h2>Thanh toán và giao dịch</h2>
			<form>
				<div class="form-group">
					<label for="payment_per_month">Số tiền thanh toán mỗi tháng (vnd): </label>
					<input type="number" id="payment_per_month" name="payment_per_month" class="form-control" th:value="${user.name}" required>
				</div>
				<div class="form-group">
					<label for="month">Thanh toán mỗi x Tháng: </label>
					<input type="number" id="month" name="month" class="form-control" th:value="${user.name}" required>
				</div>
			</form>
		</div>
		<!-- END Payment -->

		<!-- START information -->
		<div class="content-section">
			<h2>Quyền và nghĩa vụ của hai bên</h2>
			<p>
				1.Quyền và nghĩa vụ của bên A <br>
				*Quyền của bên A <br>
				- Yêu cầu Bên B thanh toán tiền thuê và chi phí khác đầy đủ, đúng hạn theo thoả thuận trong Hợp Đồng; <br>
				- Yêu cầu Bên B phải sửa chữa phần hư hỏng, thiệt hại do lỗi của Bên B gây ra. <br>
				*Nghĩa vụ của bên A <br>
				- Bàn giao diện tích thuê cho Bên B theo đúng thời gian quy định trong Hợp đồng; <br>
				- Đảm bảo việc cho thuê theo Hợp đồng này là đúng quy định của pháp luật; <br>
				- Đảm bảo cho Bên B thực hiện quyền sử dụng diện tích thuê một cách độc lập và liên tục trong suốt thời hạn thuê,
				trừ trường hợp vi phạm pháp luật và/hoặc các quy định của Hợp đồng này. <br>
				- Không xâm phạm trái phép đến tài sản của Bên B trong phần diện tích thuê. Nếu Bên A có những hành vi
				vi phạm gây thiệt hại cho Bên B trong thời gian thuê thì Bên A phải bồi thường. <br>
				- Tuân thủ các nghĩa vụ khác theo thoả thuận tại Hợp đồng này hoặc/và các văn bản kèm theo Hợp đồng này; hoặc/và
				theo quy định của pháp luật Việt Nam. <br>
				2.Quyền và nghĩa vụ của bên B <br>
				*Quyền của bên B <br>
				- Nhận bàn giao diện tích thuê theo đúng thoả thuận trong Hợp đồng; <br>
				- Được sử dụng phần diện tích thuê làm nơi ở và các hoạt động hợp pháp khác; <br>
				- Yêu cầu Bên A sửa chữa kịp thời những hư hỏng không phải do lỗi của Bên B trong phần diện tích thuê để bảo đảm an toàn; <br>
				- Được tháo dỡ và đem ra khỏi phần diện tích thuê các tài sản, trang thiết bị của Bên B đã lắp đặt trong
				phần diện tích thuê khi hết thời hạn thuê hoặc đơn phương chấm dứt hợp đồng. <br>

				*Nghĩa vụ của bên B <br>
				- Sử dụng diện tích thuê đúng mục đích đã thỏa thuận, giữ gìn nhà ở và có trách nhiệm trong việc
				sửa chữa những hư hỏng do mình gây ra; <br>
				- Thanh toán tiền đặt cọc, tiền thuê đầy đủ, đúng thời hạn đã thỏa thuận; <br>
				- Trả lại diện tích thuê cho Bên A khi hết thời hạn thuê hoặc chấm dứt Hợp đồng thuê; <br>
				- Mọi việc sửa chữa, cải tạo, lắp đặt bổ sung các trang thiết bị làm ảnh hưởng đến kết cấu của căn phòng,...
				Bên B phải có văn bản thông báo cho Bên A và chỉ được tiến hành các công việc này sau khi
				có sự đồng ý bằng văn bản của Bên A; <br>
				- Tuân thủ một cách chặt chẽ quy định tại Hợp đồng này và các quy định của pháp luật Việt Nam. <br>
			</p>
		</div>
		<!-- END Information -->

		<!-- START information -->
		<div class="content-section">
			<h2>Đơn phương chấm dứt hợp đồng thuê nhà và Cam đoan</h2>
			<p>
				1. Đơn phương chấm dứt hợp đồng thuê nhà <br>
				Trong trường hợp một trong Hai Bên muốn đơn phương chấm dứt Hợp đồng trước hạn thì phải thông báo
				bằng văn bản cho bên kia trước 30 (ba mươi) ngày so với ngày mong muốn chấm dứt.
				Nếu một trong Hai Bên không thực hiện nghĩa vụ thông báo cho Bên kia thì sẽ phải bồi thường cho
				bên đó một khoản tiền thuê tương đương với thời gian không thông báo và các thiệt hại khác phát sinh
				do việc chấm dứt Hợp đồng trái quy định. <br>

				2. Cam đoan <br>
				Hai bên chịu trách nhiệm trước pháp luật về những lời cam đoan sau đây: <br>

				- Đảm bảo tính chính xác, trung thực và hoàn toàn chịu trách nhiệm trước pháp luật nếu có sự giả mạo về hồ sơ,
				giấy tờ cung cấp cũng như các hành vi gian lận hay vi phạm pháp luật khác liên quan tới việc ký kết hợp đồng này. <br>
				- Việc giao kết Hợp đồng này hoàn toàn tự nguyện, không bị lừa dối, không bị ép buộc. <br>
				- Thực hiện đúng và đầy đủ các thoả thuận đã ghi trong Hợp đồng này. <br>

				3. Điều khoản cuối cùng <br>
				- Hợp đồng này có hiệu lực kể từ thời điểm công chứng (hoặc chứng thực). Việc sửa đổi, bổ sung hoặc huỷ bỏ
				Hợp đồng này chỉ có giá trị khi được hai Bên lập thành văn bản và chỉ được thực hiện khi Bên B chưa đăng ký
				sang tên quyền sử dụng đất và quyền sở hữu nhà ở theo Hợp đồng này. <br>
				- Hai bên đã tự đọc nguyên văn, đầy đủ các trang của bản Hợp đồng này và không yêu cầu chỉnh sửa, thêm, bớt
				bất cứ thông tin gì trong bản hợp đồng này. Đồng thời hiểu rõ quyền, nghĩa vụ, lợi ích hợp pháp của mình và
				hậu quả pháp lý của việc giao kết Hợp đồng này. <br>
			</p>
		</div>
		<!-- END Information -->

		<!-- START button submit -->
		<div class="content-section">
			<h2>Tạo hợp đồng mới</h2>
			<button type="button" id="createRentsButton" class="save-btn">Tạo hợp đồng cho thuê</button>
		</div>
		<!-- END button submit -->

	</div>
</div>
</body>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $("#createRentsButton").click(function() {
        const userConfirmed = confirm("Xác nhận tạo hợp đồng thuê nhà");
        if (!userConfirmed) {
            alert('Thao tác đã bị hủy');
			return;
        }

		const formData = new FormData();

		formData.append('ownerName', $("#owner_name").val());
        formData.append('ownerId', $("#owner_id").val());
        formData.append('ownerBirthday', $("#owner_birthday").val());
        formData.append('ownerAddress', $("#owner_address").val());

        formData.append('customerName', $("#customer_name").val());
        formData.append('customerId', $("#customer_id").val());
        formData.append('customerBirthday', $("#customer_birthday").val());
        formData.append('customerAddress', $("#customer_address").val());

        formData.append('propertyAddress', $("#property_address").val());
        formData.append('propertyArea', $("#property_area").val());
        formData.append('propertyPurpose', $("#property_purpose").val());
        formData.append('propertyDetail', $("#property_detail").val());

        formData.append('period', $("#rental_period").val());
        formData.append('startDate', $("#rental_start").val());
        formData.append('paymentPerMonth', $("#payment_per_month").val());
        formData.append('month', $("#month").val());

        $.ajax({
            type: "POST",
            url: "/Metro/tao-hop-dong-thue",
            data: formData,
            processData: false,
            contentType: false,
            success: function (response) {
                alert("Tạo hợp đồng mới thành công.");
                location.reload();
            },
            error: function () {
                alert("Có lỗi xảy ra khi Tạo hợp đồng");
            }
        });

    });

</script>

</html>
