<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="propertyList" class="col-md-4" th:each="property:${properties}">
	<div class="property-wrap ftco-animate">
		<div class="img d-flex align-items-center justify-content-center"
		     th:style="'background-image: url(' + ${property.base64Image} + ')'">
			<a th:href="@{/Metro/chi-tiet/{id}(id=${property.id})}" class="icon d-flex align-items-center justify-content-center btn-custom">
				<span class="ion-ios-link"></span>
			</a>
			<div class="list-agent d-flex align-items-center">
				<a href="#" class="agent-info d-flex align-items-center">
					<div class="img-2 rounded-circle" style="background-image: url('/images/person_1.jpg');"></div>
					<h3 class="mb-0 ml-2">Ben Ford</h3>
				</a>
			</div>
		</div>
		<div class="text">
			<p class="price mb-3"><span class="orig-price" th:text="${property.price}"></span> vnd</p>
			<h3 class="mb-0"><a th:href="@{/Metro/chi-tiet/{id}(id=${property.id})}" th:text="${property.name}"></a></h3>
			<span class="location d-inline-block mb-3" th:text="${property.address}"><i class="ion-ios-pin mr-2"></i></span>
			<ul class="property_list">
				<li><span class="flaticon-bed"></span>&nbsp;<span th:text="${property.bedroom}"></span></li>
				<li><span class="flaticon-bathtub"></span>&nbsp;<span th:text="${property.bathroom}"></span></li>
				<li><span class="flaticon-floor-plan" th:text="${property.area}"></span> m2</li>
			</ul>
		</div>
	</div>
</div>